.container
  .col-md-12
    %table.table.table-striped.table-bordered.table-hover.table-condensed
      %thead
        %tr
          %th User
          %th Action
          %th Time ago
          %th File
          %th Size
          %th Date
          %th Code
      %tbody
        - @logs.each do |line|
          - next if line[:method] == 'GET'
          %tr
            %td= line[:username]
            %td= line[:method]
            %td= line[:date]
            %td= line[:path].sub!(ENV['REMOVE_PATH_PREFIX'], '')
            %td= bytes_to_human_size(line[:bytes])
            %td= line[:date]
            %td= line[:status_code]
